@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Epunda+Sans:ital,wght@0,300..900;1,300..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Libertinus+Keyboard&family=Mozilla+Text:wght@200..700&family=Nata+Sans:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Syne:wght@400..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 20px;
  font-style: normal;
  background-color: #fff6e9;
}

a {
  list-style: none;
  text-decoration: none;
  color: #333;
}
a:hover {
  color: #f5ab50;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

footer {
  background-color: #eed7b5;
  display: flex;
  justify-content: space-between; /* Logo a la izquierda, menú a la derecha */
  align-items: center;
  padding: 20px;
}
footer ul {
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}
footer ul li {
  margin: 5px 0; /* espacio entre cada línea */
}

.footer-logo {
  width: 130px;
}

.inicio {
  padding: 40px 20px;
  background-color: #fff6e9;
}
.inicio .sec1 {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 60px auto;
}
.inicio .sec1 h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.sec2,
.sec3 {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 60px;
  gap: 40px;
  padding: 0 2.5rem;
  text-align: left;
}
.sec2 .div-imagen,
.sec3 .div-imagen {
  flex: 1;
  max-width: 45%;
}
.sec2 .div-imagen img,
.sec3 .div-imagen img {
  max-width: 100%; /* Que no se deforme */
  border-radius: 8px;
  height: auto;
}
.sec2 .div-texto,
.sec3 .div-texto {
  flex: 1;
  max-width: 45%;
  text-align: center;
}

.sec3 {
  flex-direction: row-reverse;
}

.main-nosotros {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
  padding: 2.5rem 1.25rem;
}
.main-nosotros section {
  flex: 1 1 45%;
  text-align: left;
}
.main-nosotros section h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.main-nosotros div {
  flex: 1 1 45%;
  width: 18.75rem;
}

.contacto {
  max-width: 50rem;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}
.contacto form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
}
.contacto form label {
  font-weight: bold;
}
.contacto form input, .contacto form select, .contacto form textarea {
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
}
.contacto form input:hover, .contacto form select:hover, .contacto form textarea:hover {
  border: 2px solid black; /* el color y grosor que quieras */
  outline: none; /* para evitar el borde azul del navegador */
  transition: border 0.3s ease;
}

.formulario-contenedor textarea {
  height: 100px;
}

.logos-redes {
  width: 120px;
}

.como-ayudar {
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
  margin-bottom: 1.25rem;
  font-size: 1.375rem;
}
.como-ayudar h1 {
  font-size: 3.125rem;
  margin-bottom: 20px;
}
.como-ayudar div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.donaciones-box {
  background: #f5ab50;
  padding: 15px;
  margin-top: 15px;
  border-radius: 8px;
  font-family: monospace;
}

.adopcionesintro {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

header {
  width: 100%;
  position: sticky;
  z-index: 1000; /*para que quede por delante*/
  top: 0px;
  background-color: #eed7b5;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Logo a la izquierda, menú a la derecha */
  align-items: center; /*esto mueve todos los hijos en sentido vertical cuando tenga row*/
}
header nav {
  justify-content: flex-end;
  font-size: 20px;
}
header nav ul {
  display: flex;
  list-style: none; /*saca los puntos*/
  gap: 20px;
  margin: 0;
  padding: 0;
}
header nav ul a {
  text-decoration: none;
  color: #fff6e9;
  margin: 20px;
}

.logo {
  width: 130px;
}

.buttons {
  padding: 10px 20px;
  background-color: #eed7b5;
  border-radius: 62.5rem;
  text-decoration: none;
  color: #333;
  font-size: 20px;
}
.buttons:hover {
  background-color: #f5ab50;
  color: #fff;
}
.buttons:focus-visible {
  outline: 2px solid black;
  outline-offset: 4px;
}

input:focus {
  font-style: italic;
}

.card-ayuda {
  background: #eed7b5;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: left;
}
.card-ayuda h2 {
  color: #f5ab50;
  margin-bottom: 15px;
}
.card-ayuda div {
  background: #eed7b5;
  padding: 15px;
  margin-top: 15px;
  border-radius: 8px;
  font-family: monospace;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px; /* separación entre cards */
}

.card {
  width: 18rem;
  min-height: 18.75rem;
  overflow: hidden;
  filter: grayscale(1);
}
.card:hover {
  filter: grayscale(0);
}

.card-img-top {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 1.25rem;
  transition: transform 0.3s;
}
.card-img-top:hover {
  transform: scale(1.2);
  transition: transform 0.5s cubic-bezier(0.17, 0.67, 0.88, 0.39);
}

.cards .card {
  flex: 0 1 calc(33.333% - 20px); /* 3 por fila, ajustando el gap */
  margin-bottom: 20px;
  background: #EED7B5;
  border-radius: 1.25rem;
}

.card-body {
  padding: 15px;
  margin-top: 35px;
}

@media (max-width: 768px) {
  .cards {
    justify-content: center;
  }
  .cards .card {
    flex: 0 1 calc(100% - 20px);
  }
  header {
    flex-direction: column;
    gap: 10px;
  }
  .inicio {
    flex-direction: column;
    text-align: center;
  }
  .div-texto .div-imagen {
    max-width: 100%;
  }
  .div-texto {
    margin-bottom: 15px;
  }
}
footer {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (max-width: 320px) {
  section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
