.main-nosotros {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
    padding: 2.5rem 1.25rem;
    section {
        flex: 1 1 45%;
        text-align: left;
        h1 {
            font-size: 2.5rem;
            margin-bottom: 20px;
        }
    }
    div{
        flex: 1 1 45%;
        width: 18.75rem;
    }
}