.adopcionesintro {
    @include flex($direction: column, $items: center);
    width: 100%;
    text-align: center;
    padding-top: 40px;
}
h2 {
    @extend .adopcionesintro;
    padding-top: 0; // Sobrescribe solo el padding
}
