.main-nosotros {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2.5rem;
    padding: 2.5rem 1.25rem;
    .texto-nosotros {
        flex: 1 1 45%;
        text-align: left;
        h1 {
            font-size: 2.5rem;
            margin-bottom: 20px;
        }
    }
}

#carouselExample {
    flex: 1 1 45%;
    max-width: 500px;
    min-height: 350px;
    position: relative;//para posicionar las flechas
    .carousel-inner {
        border-radius: 8px;
        overflow: hidden;
        height: 350px;
        .carousel-item {
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover; //CLAVE!! mantiene proporciones sin deformarrr
            }
        }
    }
}