$colors: (
    pincipal: #fff6e9,
    secundario: #eed7b5,
    terciario: #f5ab50,
    text-hover: #f8f9fa,
    text: #333
);

// #fff6e9  background body
// #eed7b5 navbar, donaciones box, footer, cards adoptados
//#F5AB50 h2 cards ayuda