@mixin flex($direction: row, $justify: flex-start, $items: stretch, $wrap: nowrap, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $items;
    flex-wrap: $wrap;
    gap: $gap;
}

@mixin link-style($color, $margin: 0) {
    text-decoration: none;
    color: $color;
    margin: $margin;
}

@mixin transicion($propiedad: all, $duracion: 0.3s, $tipo: ease) {
    transition: $propiedad $duracion $tipo;
}