header{
    width: 100%;
    position: sticky;
    z-index: 1000; /*para que quede por delante*/
    top: 0px;
    background-color: #eed7b5;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Logo a la izquierda, menú a la derecha */
    align-items: center; /*esto mueve todos los hijos en sentido vertical cuando tenga row*/;

    nav{
        justify-content: flex-end;
        font-size: 20px;
        ul{
            display: flex;
            list-style: none; /*saca los puntos*/
            gap: 20px;
            margin: 0;
            padding: 0;
            a{
                text-decoration: none;
                color: black;
                margin: 20px;
            }
        }
    }
}

.logo{
    width: 130px;
}