*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Karla", sans-serif;
    font-size: 20px;
    font-style: normal;
    background-color: map-get($colors, principal);
}

a{
    list-style: none;
    text-decoration: none;
    color: map-get($colors, texto1);
    &:hover {
        color: map-get($colors, terciario );
    }
}

