
@media(max-width: 320px) {

    header {
        @include flex(column, center, center, nowrap, 8px); // Mixin con gap más pequeño
        padding: 8px;
        
        nav {
            ul {
                @include flex(column, center, center, nowrap, 10px);
                text-align: center;
                
                a {
                    @include link-style(map-get($colores, principal), 8px 0);
                    font-size: 16px;
                    padding: 5px 10px;
                    border-radius: 4px;
                    
                    &:hover {
                        background-color: rgba(map-get($colores, principal), 0.1);
                    }
                }
            }
        }
    }
    
    .logo {
        width: 90px;
    }

    .inicio {
        padding: 20px 10px;
    }
    .sec2 .sec3{
    flex-direction: column;
    align-items: center; 
    text-align: center;  
    gap: 20px;
    padding: 0 15px;
    margin-bottom: 40px;
    .div-imagen .div-texto {
        max-width: 100%;
    }
}


}