@media (max-width: 768px) {

        header {
        flex-direction: column;
        gap: 10px;
    }

    .sec2, .sec3 {
        flex-direction: column; 
        gap: 30px;
        padding: 0 20px;
        text-align: center; // Todo centrado en móvil
        
        .div-imagen, .div-texto {
            max-width: 100%; // Ocupa todo el ancho
        }
    }
    
    .sec3 {
        flex-direction: column; // Anula el row-reverse en móvil
    }


    .cards {
        justify-content: center;
    }

    .cards .card {
        flex: 0 1 calc(100% - 20px);
    }

    .main-nosotros {
        flex-direction: column;
        text-align: center;
        
        .texto-nosotros,
        #carouselExample {
            flex: 1 1 100%;
            max-width: 100%;
        }
        
        #carouselExample {
            min-height: 250px; 
            
            .carousel-inner {
                height: 250px;
            }
        }
    }




footer {
    flex-direction: column;
    align-items: center; 
    text-align: center;  
}
}